# Set the name of the user running the testsuite
USER=toto

# Run the testsuite with Matlab.
MATLAB=true

# Set variables for matlab location ($USER has to be allowed to run Matlab).
MATLAB_VERSION=R2014a
MATLAB_PATH=/usr/local/MATLAB

# Set branch name to be tested
GIT_BRANCH=master
 
# Set git repository ($USER needs to have an account on Github, identified by a valid ssh key)
GIT_REPOSITORY_SSH=git@github.com:DynareTeam/dynare.git
GIT_REPOSITORY_HTTP=https://github.com/DynareTeam/dynare

# Set variables related to the publication of the results
REMOTE_NAME=blagues.fr
REMOTE_PATH=/var/www/toto/testsuite/$GIT_BRANCH
SERVER_PATH=$REMOTE_NAME:$REMOTE_PATH
HTTP_PATH=http://blagues.fr/testsuite/$GIT_BRANCH
MAILTO=dev@blagues.fr
MAILFROM=toto@blagues.fr

# Set the number of threads to be used by make (default value)
THREADS=128

# Run the testsuite with octave.
OCTAVE=false
