## Set the name of the user running the testsuite
USER=toto

## Run the testsuite with Matlab.
MATLAB=true

## Set variables for matlab location ($USER has to be allowed to run Matlab).
MATLAB_VERSION=R2014a
MATLAB_PATH=/usr/local/MATLAB

## Set branch name to be tested
GIT_BRANCH=master

## Set the git repository
##    If the $USER has an account on Github (w SSH key uploaded), the SSH repository will be used
##    Otherwise, the HTTP repository will be used
GIT_REPOSITORY_SSH=git@github.com:DynareTeam/dynare.git
GIT_REPOSITORY_HTTP=https://github.com/DynareTeam/dynare

## Set variables related to the publication of the results
#### To publish the results on a web page, set this to true
PUBLISH_RESULTS=false
REMOTE_NAME=blagues.fr
REMOTE_PATH=/var/www/toto/testsuite/$GIT_BRANCH
SERVER_PATH=$REMOTE_NAME:$REMOTE_PATH
HTTP_PATH=http://blagues.fr/testsuite/$GIT_BRANCH

#### To send the results via email, set this to true
EMAIL_RESULTS=true
MAILTO=dev@blagues.fr
MAILFROM=toto@blagues.fr

## Set the number of threads to be used by make (default value is 1)
THREADS=128

## Run the testsuite with octave.
OCTAVE=false

## Force the test to run regardless of what the last commit was
FORCE=false

## Number of tarballs to keep in /tmp
N_TO_KEEP=4